<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/agenda">Horarios de Práctica</a></li>
      <li><a href="/contacto">Dirección y Contacto</a></li>
      <li><a href="/ninos">Aikido Para Niños</a></li>
      <li><a href="/about">Sobre la Asociación</a></li>
      <li><a href="/news">Noticias</a></li>
      <li><a href="/info">Información para alumnos</a></li>
      <li><a href="/danes">Nómina de Danes</a></li>
      <li><a href="/pastevents">Eventos Pasados</a></li>
      <li><a href="/videos">Videos</a></li>
      <li><a href="/dojos">Dojos Afiliados</a></li>
    </ul>

    <p>{{ with .Site.Params.Copyright }}{{.}}{{ else }}&copy; {{now.Format "2006"}}. Todos los derechos reservados. {{end}}</p>


    <div id="footer">
      <p class="small">
        Av. Vélez Sarsfield 910<br>
        X5000JJW - Córdoba<br>
        Córdoba<br>
        Argentina
      </p>
    </div>


  </div>
</div>
