<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ .Site.Title }}</h1>
      <p class="lead">
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/events">Próximos Eventos</a></li>
      <li><a href="/pastevents">Eventos Pasados</a></li>
      <li><a href="/dojos">Dojos</a></li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.Url}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    <p>{{ with .Site.Params.Copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>


    <div id="footer">
      <p class="small">
        Av. Vélez Sarsfield 910<br>
        X5000JJW - Córdoba<br>
        Córdoba<br>
        Argentina
      </p>
    </div>


  </div>
</div>
