{{ template "chrome/head.html" . }}
<body class="theme-base-0b">

{{ template "chrome/sidebar.html" . }}

<div class="content container">
{{ template "chrome/banner.html" . }}

<h1>Orígenes del Aikido</h1>
<div class="posts">

<div>
    El Aikido fue creado por Morihei Ueshiba a finales de los años '20, uniendo 
    diferentes técnicas de artes marciales más antiguas en un sistema para 
    perfeccionar cuerpo y espíritu. El principal objetivo en el Aikido es la 
    coordinación con los movimientos del atacante y la prolongación de éstos 
    mientras se controla y redirige ésta energía. La práctica del Aikido fortalece 
    la salud y crea confianza en nuestras propias habilidades. Los movimientos 
    corrigen la postura y liberan de tensiones al enfocarse en la respiración 
    profunda. Éstos movimientos se repiten numerosas veces hasta transformarse en 
    la natural y calmada respuesta ante cualquier situación.
    La Asociación Cordobesa de Aikido y demás organizaciones adheridas 
    desarrollarán gran actividad en Seminarios tanto en Córdoba, como en el 
    interior del país y aún del exterior. 

    <img src="/images/people/Morihei Ueshiba.jpg">

</div>

<h2>Biografías</h2>
  <ul class="posts">
      {{ range .Data.Pages.Reverse }}
      <li> <span><a href="{{ .Permalink }}">{{ .Title }}</a></h4></span></li>
      {{ end }}
  </ul>
</div>

</body>
</html>
