{{ template "chrome/head.html" . }}
<body class="theme-base-0b">

  {{ template "chrome/sidebar.html" . }}

  <div class="content container">
  {{ template "chrome/banner.html" . }}

  <h1>Información para practicantes</h1>

  <div class="posts">
    <p>
        Como practicante de Aikido hay información que es necesario que conozca. A continuación, podrá acceder a ella. Ante cualquier consulta, no dude en <a href="/contact">contactarnos</a>.
    </p>

    <ul class="posts">
        <li><a href="/info/dojo_etiquette">Etiqueta en el Dojo</a></li>
        <li><a href="/info/exams">Requerimientos de Examen</a></li>
        <li><a href="/info/glossary">Diccionario Técnico</a></li>
        <li><a href="/info/hakama">El Hakama</a></li>
        <hr>
        <li><a href="/history">Orígenes y biografías</a></li>
        <li><a href="/info/jo">Origen del Jo</a></li>
        <li><a href="/info/logo">Nuestro Logo</a></li>
    </ul>

  </div>

</body>
</html>
